<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGContextTrainings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ConstraintsBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ConstraintsFromCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DynamicConstraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GumStats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MultiThreadApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>animationResolution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>beginningAutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>customContainerViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>customController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>customScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>intermediateLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>storyBoardSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>storyBoardSampleIpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>storyBoardsSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>storyboardAutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>templateARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F102D66316FF227800894A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F10974A216C295A100C1BEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1435A3A16C654550093FA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F14ED5D916D63C14008AAAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1519D2A16C2B28C00034516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1519D4E16C2B2D000034516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1575A2117018058004EF50A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1688C0916C3EFFA00B0BE86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F16D9E4A16DC986A00822510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F173579916C4E5E40093B522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F17357BE16C4E6420093B522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F17DA0AC16D9D6FB009AA882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F17DF26116D8BFA300845648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F17F48A416D3AC33004CAB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1892EF016D74FA90063DAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F193C30C16CCC5A200B9A7E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19625001704481400C80128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1BF40AE16E76C9B004BF467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E46F2F16C7C6C700BB1163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E9D25E16E90CB7002258F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
